<h1>Stupid Coaching</h1>

<div class="question">
 <h2> - You:</h2>
 <h3><%= @question %></h3>
</div>

<div class="answer">
  <h2> - Coach:</h2>
  <h3><%= @answer %></h3>
</div>


<%= link_to 'New question', '/ask' %>